<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="/assets/css/vendor/normalize.css">
  <link rel="stylesheet" href="/assets/css/vendor/skeleton.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/nav.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href="/assets/css/pages/{{ page.css }}">

  <link rel="icon" href="/assets/img/main_logo.png">
</head>
