<!-- Nav Spacer -->
<div style="display: block;height: calc(6.5rem);position:relative;width:100%;"></div>

<!-- Nav -->
<nav>
  <div class="logo">
    <a href="/">{% include logo.html %}</a>
  </div>
  <div class="links">
    <a href="{{ site.baseurl }}newsfeed.html">Latest News</a>
    <a href="bills.html">Bills</a>
    <a href="politicians.html">Politicians</a>
    <input type="text" class="search" placeholder="Search..." spellcheck="false">
    <div class="searchResults">
      <!-- Example Search Result (use as template)
      <a class="result">
        <h1>John Smith</h1>
        <img src="assets/img/republican_icon.png" alt="GOP Party Logo">
      </a>
      -->

      <!-- No Results Notice -->
      <h2 class="no_results_notice">No Results Found.</h2>
    </div>
  </div>
</nav>
