<script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.easing.min.js"></script>
<script>
var site_baseurl = "{{ site.baseurl }}";
var search_list = [
  {% for post in site.posts %}

  {
    title: "{{ post.title }}",
    type: "news",
    link: "{{ site.baseurl }}{{ post.url }}"
  },

  {% endfor %}
  ""
];
search_list.pop();

$(function(){
  _search_searchInputShowResults();
  _slideshow_slideshowEvaluateDisabledButtons();
});

var _politicians_featuredPoliticians = [0,253,469,87,35,238,207,261,158,223,21];
var _committees_featuredCommittees = [6,9,16,18,29,35];
</script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
<script src="{{ site.baseurl }}/assets/js/politician_api_functions.js"></script>
<script src="{{ site.baseurl }}/assets/js/politician_api.js"></script>
<script src="{{ site.baseurl }}/assets/js/committee_api_functions.js"></script>
<script src="{{ site.baseurl }}/assets/js/committee_api.js"></script>
