<script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.easing.min.js"></script>
<script>
function getQueryVariable(variable){
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if(pair[0] == variable){
      return pair[1];
    }
  }
  return(false);
}

var site_baseurl = "{{ site.baseurl }}";
var search_list = [
  {% for post in site.posts %}

  {
    title: "{{ post.title }}",
    type: "news",
    link: "{{ site.baseurl }}{{ post.url }}"
  },

  {% endfor %}
  ""
];
search_list.pop();

$(function(){
  _search_searchInputShowResults();
  if(_home_page){
    _slideshow_slideshowEvaluateDisabledButtons();
  }
  if(_politicians_page){
    switch(getQueryVariable("s")){
      case "state":
        $(".sort_select option.state").attr("selected","true");
        break;
      case "party":
        $(".sort_select option.party").attr("selected","true");
        break;
      case "type":
        $(".sort_select option.chamber").attr("selected","true");
    }
    $('.sort_select').awselect();
  }
});
function _politiciansPage_updateSortPoliticians(value){
  switch(value){
    case "state":
      window.location.href = site_baseurl + "/politicians.html?s=state";
      break;
    case "party":
      window.location.href = site_baseurl + "/politicians.html?s=party";
      break;
    case "chamber":
      window.location.href = site_baseurl + "/politicians.html?s=type";
  }
}

function _updateMainContentPageDropdowns(h1){
  $("div.box_item_list." + $(h1).attr("class")).slideToggle(500,"easeInOutExpo");
  if($(h1).attr("style")){
    $(h1).removeAttr("style");
  }else{
    $(h1).attr("style","background-image: url(assets/img/up_icon.png);");
  }
}

var _politicians_featuredPoliticians = [0,253,469,87,35,238,207,261,158,223,21];
var _committees_featuredCommittees = [6,9,16,18,29,35];
</script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
<script src="{{ site.baseurl }}/assets/js/politician_api_functions.js"></script>
<script src="{{ site.baseurl }}/assets/js/politician_api.js"></script>
<script src="{{ site.baseurl }}/assets/js/committee_api_functions.js"></script>
<script src="{{ site.baseurl }}/assets/js/committee_api.js"></script>
