<script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.easing.min.js"></script>
<script>
var search_list = [
  {% for post in site.posts %}

  {
    title: "{{ post.title }}",
    type: "news",
    link: "{{ site.baseurl }}{{ post.url }}"
  },

  {% endfor %}
  ""
];
search_list.pop();
</script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
<script src="{{ site.baseurl }}/assets/js/slideshow.js"></script>
