h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
hr {
  margin: 1.5rem 0;
}
div.box_item_list {
  padding: 0 1rem;
  text-align: left;
}
div.site-container {
  text-align: center;
}
.main_content {
  overflow: auto;
  text-align: left;
  display: inline-block;
  padding: 5rem 0;
  width: 111.5rem;
}
div.box_list_item {
  margin: 2rem;
}

div.main_content div.box_item_list {
  overflow: auto;
  margin-bottom: 5rem;
}
div.main_content {
  padding-bottom: 0;
}
div.main_content > span > h1,div.main_content > h1 {
  display: block;
  clear: both;
  background-image: url(../../img/down_icon.png);
  background-size: 3.25rem;
  background-position: right 0.625rem;
  background-repeat: no-repeat;
  cursor: default;
}
div.main_content > span > h1,div.main_content > h1 {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
}
div.main_content hr {
  margin: 1.5rem 0;
  margin-top: 0;
}
