@import url("box_item_list.css");
@import url("../vendor/awesomeselect/awselect.min.css");

div.box_list_item a.top_image {
  height: 35rem;
}
div.box_list_item a.top_image {
  height: 35rem;
  background-color: #efefef;
  background-size: cover, 75%;
  background-position: center;
  background-repeat: no-repeat;
}
div.box_list_item div.row span {
  display: block;
  float: none;
}
div.main_content > h1 {
  display: block;
  clear: both;
}
div.top_area {
  text-align: left;
}
div.top_area div.sort_section {
  float: left;
  margin-bottom: 3rem;
}
div.top_area div.sort_section h1 {
  height: calc(30px + 2.4rem);
  line-height: calc(30px + 2.7rem);
  font-size: 2.4rem;
  float: left;
  margin: 0;
  padding-right: 2rem;
}
div.top_area div.sort_select_container {
  width: 30rem;
  display: block;
  float: left;
}
div.top_area div.sort_select_container * {
  box-sizing: border-box;
  text-decoration: none;
}
.awselect .front_face span {
  padding: 15px 17.5px !important;
}
.awselect .front_face i {
  right: 17.5px !important;
}
.awselect .front_face {
  padding: 0 !important;
}
div.top_area div.sort_select_container li {
  margin: 0;
}
div.top_area div.sort_select_container a {
  padding: 7.5px 17.5px !important;
}
div.top_area div.search_section {
  float: right;
}
div.top_area div.search_section input {
  height: calc(30px + 2.4rem);
  padding: 0 calc(10px + 0.45rem);
  border-radius: 0;
  transition: width 0.25s;
  width: 20rem;
}
div.top_area div.search_section input:focus {
  width: 30rem;
  border-color: var(--color-red);
}
