div.topbar,div.container {
   width: 100%;
}
div.topbar {
   padding: 25px 0;
}
div.topbar div.toparea {
   width: 100%;
   padding: 15px 0;
   clear: both;
   overflow: auto;
}
div.topbar div.toparea img,div.topbar div.toparea h1 {
   height: 40px;
   line-height: 40px;
   font-size: 40px;
   float: left;
   margin: 0 5px;
}
div.topbar div.toparea ul {
   float: right;
   list-style: none;
}
div.topbar div.toparea ul li {
   display: inline-block;
   line-height: 35px;
   font-size: 20px;
   margin: 2.5px 10px;
   border-bottom: 2px solid transparent;
   transition: border-color 0.25s;
   cursor: pointer;
   font-weight: 400;
}
div.topbar div.toparea ul li:hover{
   border-color: black;
}
div.topbar div.bottomarea {
   clear: both;
   background-color: black;
   color: white;
   overflow: auto;
}
div.topbar div.bottomarea ul {
   list-style: none;
   float: left;
}
div.topbar div.bottomarea ul.right {
   float: right;
   padding: 10px;
   overflow: auto;
   padding-right: 5px;
}
div.topbar div.bottomarea ul.right input {
   height: 28px;
   font-size: 17.5px;
   padding: 0 3.75px;
   padding-left: 37.5px;
   border: none;
   background-color: transparent;
   width: 28px;
   cursor: pointer;
   background-image:  url(../img/searchIcon.png);
   background-size: 22.5px;
   background-repeat: no-repeat;
   background-position: 5px;
   display: inline-block;
   color: white;
   transition: width 0.25s;
   box-sizing: border-box;
   opacity: 0.6;
}
div.topbar div.bottomarea ul.right input:hover,div.topbar div.bottomarea ul.right input:focus{
   opacity: 1;
}
div.topbar div.bottomarea ul.right input:focus {
   width: 250px;
   cursor: text;
}
div.topbar div.bottomarea ul li {
   display: inline-block;
   font-size: 18px;
   text-transform: uppercase;
   padding: 15px;
   line-height: 1;
   color: #cacaca;
   transition: color 0.25s,background-color 0.25s;
   cursor: pointer;
   box-sizing: border-box;
}
div.topbar div.bottomarea ul li:hover {
   color: white;
   background-color: var(--main);
}

@media only screen and (max-width: 460px) {
   div.wrapper div.topbar div.toparea ul {
      display: none;
   }
}
@media only screen and (max-width: 358px) {
   div.topbar div.bottomarea ul {
      width: 100%;
      display: block;
   }
   div.topbar div.bottomarea ul.right {
      float: none;
      box-sizing: border-box;
   }
   div.topbar div.bottomarea ul li,div.topbar div.bottomarea ul.right input {
      display: block;
   }
   div.topbar div.bottomarea ul.right {
      height: 48px;
   }
   div.topbar div.bottomarea ul.right input:focus {
      width: calc(100% - 10px);
   }
}
@media only screen and (max-width: 700px) {
   div.topbar div.bottomarea ul.right input {
      position: absolute;
      right: 5px;
      background-color: black;
      padding-left: 42.5px;
      background-position: 10px 5px;
   }
}