<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div class="site-container">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include scripts.html %}
    {% if page.css == "home.css" %}
    <script>_home_page = true;</script>
    {% endif %}
    {% if page.css == "politicians.css" %}
    <script src="{{ site.baseurl }}/assets/js/vendor/awesomeselect/awselect.min.js"></script>
    <script>_politicians_page = true;</script>
    {% endif %}
    {% if page.css == "politician.css" %}
    <script>_politician_page = true;</script>
    {% endif %}
    {% if page.css == "home.css" %}
    <script src="{{ site.baseurl }}/assets/js/slideshow.js"></script>
    {% endif %}
    {% if page.css == "committees.css" %}
    <script>_committees_page = true;</script>
    {% endif %}
    {% if page.css == "committee.css" %}
    <script>_committee_page = true;</script>
    {% endif %}
  </body>

</html>
